{{ define "main" }}
<main>
  <article>
    <div class="title">
      <h1 class="title">{{ .Title }}</h1>
      {{ if isset .Params "date" }}
      <div class="meta">Posted on {{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
      {{ end }}
    </div>
    {{ if isset .Params "tldr" }}
    <div class="tldr">
      <strong>tl;dr:</strong>
      {{ .Params.tldr }}
    </div>{{ end }}
    
    {{ .Content }}

    <!-- TOC -->
    {{ if and (isset .Params "toc") (.Params.toc) }}
    <div class="toc">
      <strong>Table of contents:</strong>
      {{ .TableOfContents }}
    </div>
    {{ end }}

    <!-- Disqus -->
    {{- $.Scratch.Set "isDisqus" true -}}
    {{ if not .Site.Config.Services.Disqus.Shortname }}
    {{- $.Scratch.Set "isDisqus" false -}}
    {{ end }}

    {{- if eq ($.Scratch.Get "isDisqus") true -}}
    {{- partial "disqus.html" . -}}
    {{- end -}}
  </article>
</main>
{{ end }}
